@font-face {font-family: "amble";
    src: url('../font/Amble-Regular.ttf');
}
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: "amble","Microsoft YaHei","PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif!important;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "amble","Microsoft YaHei","PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif!important;
    font-size: 14px;
    color: #000;
    background: none;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: #000;
}

a img {
    border: none;
}

i, em {
    font-style: normal;
}

input{
    font-family: "amble","Microsoft YaHei","PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif!important;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
input[placeholder]{
    font-family: "amble","Microsoft YaHei","PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif!important;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::selection {
    background: #858585;
    color: #FFF;
}

::-moz-selection {
    background: #858585;
    color: #FFF;
}

.clearfix {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden;
    }
}


$theme: #FF6355;
.track-vertical{
    right: 0px;
    width: 0px!important;
    height: 100%;
}
.thumb-vertical{
    background: #C8C9CC;
    border-radius: 4px;
    &:hover{
        background: rgb(173, 175, 178);
    }
}

#audio{
    display: none;
}

.skype-loader {
width: 50px;
height: 50px;
position: relative;
.dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
    &:after{
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background: $theme;
        border-radius: 50%;
        left: 50%;
        margin-left: -2px;
    }
    &:nth-child(1) {
    animation-delay: 0.2s;
    }
    &:nth-child(2) {
    animation-delay: 0.35s;
    }
    &:nth-child(3) {
    animation-delay: 0.45s;
    }
    &:nth-child(4) {
    animation-delay: 0.55s;
    }
    &:nth-child(5) {
        animation-delay: 0.65s;
    }
    }
}

@keyframes dotrotate { 
from { transform: rotate(0deg); } 
to { transform: rotate(360deg); }
}

#snackbar{
    padding: 12px;
    min-width: 120px;
    max-width: 320px;
    text-align: center;
    background: rgba(0,0,0,.8);
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    font-size: 14px;
    color: #FFF;
    line-height: 1.8;
    box-shadow: 0px 0px 5px rgba(0,0,0,.11);
    transform: translate(-50%, -50%);
}

#main {
    width: 100%;
    height: 100%;
    background: none;
    box-shadow: 2px 5px 18px rgba(0,0,0,.5), -2px -2px 5px rgba(76,76,76,.1);
    .wrap{
        width: 100%;
        height: 100%;
        position: relative;        
        overflow: hidden;
    }
    .blur{
        display: block;
        width: 100%;
        height: calc(100% - 62px);
        background: rgba(0,0,0,.13);
    }
    .main-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: none;
        position: absolute;
        left: 0px;
        top: 0px;
        .window-content{
            width: 100%;
            height: 100%;
            flex: 1;
            display: flex;
            overflow: hidden;
            position: relative;
            .left-nav{
                width: 192px;
                height: 100%;
                padding-bottom: 62px;
                overflow: hidden;
                background: none;
                .app-name{
                    width: 100%;
                    height: 35px;
                    line-height: 35px;
                    display: flex;
                    align-items: center;
                    padding-left: 12px;
                    -webkit-app-region: drag;
                    cursor: default;
                    overflow: hidden;
                }
                .top-btn,.open-btn{
                    widows: 100%;
                    height: 45px;
                    .btn{
                        display: block;
                        width: 45px;
                        height: 45px;
                        font-size: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .open-btn{
                    display: none;
                    &:hover{
                        background: rgb(232,232,235);
                    }
                }
                .menu-list{
                    width: 100%;
                    height: calc(100% - 45px - 95px);
                    overflow-x: hidden;
                    overflow-y: auto;
                    .item{
                        width: 100%;
                        li{
                            width: 100%;
                            height: 39.5px;
                            display: flex;
                            align-items: center;
                            cursor: default;
                            &:active{
                                .icon{
                                    transform: scale(0.96);
                                }
                                i{
                                    transform: scale(0.96);
                                }
                            }
                            &:hover{
                                background: rgba(221,221,225, .4);
                            }
                            .icon{
                                display: block;
                                width: 45px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 18px;
                                transition: transform ease 250ms;
                            }
                            i{
                                font-size: 13px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                transition: transform ease 250ms;
                            }
                        }
                        .active{
                            background: rgba(221,221,225, .8);
                            position: relative;
                            &::before{
                                content: '';
                                display: block;
                                width: 2px;
                                height: 100%;
                                background: #F85648;
                            }
                        }
                    }
                    .item-title{
                        font-size: 12px;
                        color: #999;
                        height: 22px;
                        line-height: 22px;
                        padding-left: 13px;
                        font-weight: normal;
                        margin-top: 28px;
                    }
                    .item-title2{
                        height: 40px;
                        line-height: 40px;
                        margin-top: 25px;
                    }
                    .item2{
                        margin-top: 5px;
                        li{
                            .icon{
                                font-size: 19px;
                            }
                        }
                    }
                    .item3{
                        margin-top: 0px;
                        .icon{
                            font-size: 19px;
                        }
                    }
                }
                .user-info{
                    width: 100%;
                    height: 60px;
                }
            }
            .shrink{
                width: 45px;
                border-right: solid 1px #F3F3F5;
                .app-name{
                    display: none;
                }
                .open-btn{
                    display: block;
                }
                .menu-list{
                    height: calc(100% - 45px - 130px);
                    li{
                        i{
                            display: none!important;
                        }
                    }
                }
                .item-title{
                    display: none!important;
                }
                .item2,.item3{
                    display: none;
                }
                .track-vertical{
                    display: none!important;
                }
                .user-info{
                    height: 130px;

                }
            }
            .right-content{
                flex: 1;
                height: 100%;
                overflow-y: auto;
                position: relative;
                .window-head{
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    background: none;
                    z-index: 9999;
                    &:hover{
                        background: none;
                    }
                    .drag-bar{
                        flex: 1;
                        height: 100%;
                        -webkit-app-region: drag;
                    }
                    .window-option-button{
                        display: flex;
                        height: 100%;
                        div{
                            display: flex;
                            font-size: 13px;
                            width: 47px;
                            height: 100%;
                            align-items: center;
                            justify-content: center;
                            transition: all 250ms ease;
                            color: #999;
                            &:hover{
                                background: #F0F0F0;
                            }
                            &:active{
                                background: #FBFBFB;
                            }
                            &:last-child{
                                &:hover{
                                    background: #F95749;
                                    color: #FFF;
                                }
                            }
                        }
                    }
                }
            }
            .music-bottom-bar{
                width: 100%;
                height: 62px;
                position: absolute;
                left: 0px;
                bottom: 0px;
                background: rgba(252, 62, 45, 0.85);
                display: flex;
                box-shadow: 0px -3px 3px rgba(165,165,165, .1);
                color: #FFF;
                .cover{
                    width: 62px;
                    height: 100%;
                    position: relative;
                    flex: none;
                    &:hover{
                        .full-screen{
                            display: block;
                        }
                    }
                    .full-screen{
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,.5);
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        display: none;
                        span{
                            display: flex;
                            width: 100%;
                            height: 100%;
                            justify-content: center;
                            line-height: 62px;
                            color: #FFF;
                            font-size: 32px;
                        }
                    }
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .control{
                    width: 190px;
                    height: 100%;
                    display: flex;
                    line-height: 62px;
                    padding-left: 32px;
                    flex: none;
                    .pre{
                        font-size: 25px;
                        color: #FFF;
                    }
                    .play{
                        font-size: 30px;
                        color: #FFF;
                        margin: 0px 17px;
                    }
                    .next{
                        font-size: 25px;
                        color: #FFF;
                    }
                }
                .progress-bar{
                    flex: 1;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    flex-direction: column;
                    padding-top: 8px;
                    .bar-info{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        height: 18px;
                        align-items: center;
                        overflow: hidden;
                        flex-wrap: nowrap;
                        .audio-name{
                            font-size: 12px;
                            color: #FFF;
                            height: 16px;
                            overflow: hidden;
                            span{
                                color: #FFF;
                            }
                        }
                        .dur-info{
                            font-size: 9px;
                            color: #FFF;
                            height: 16px;
                            line-height: 16px;
                            overflow: hidden;
                            span{
                                color: #FFF;
                            }
                        }
                    }
                    .bar-track{
                        width: 100%;
                        height: 16px;
                        display: flex;
                        align-items: center;
                        margin-top:4px;
                        position: relative;
                        .thumb-dot{
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            background: #FFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 10;
                            i{
                                width: 4px;
                                height: 4px;
                                display: block;
                                background: #F75547;
                                border-radius: 50%;

                            }
                        }
                        .thumb-track{
                            position: absolute;
                            left: 0px;
                            width: 0%;
                            height: 2px;
                            top: 7px;
                            background: #FFF;
                            z-index: 7;
                            pointer-events: none;
                        }
                        .buffered{
                            position: absolute;
                            left: 0px;
                            width: 0%;
                            height: 2px;
                            top: 7px;
                            background: rgba(255,255,255,.5);
                            z-index: 5;
                            pointer-events: none;
                        }
                        .track{
                            width: 100%;
                            height: 2px;
                            background: rgba(255,255,255,.3);
                        }
                    }
                }
                .other{
                    width: 254px;
                    display: flex;
                    justify-content: space-around;
                    padding: 0px 13px;
                    flex: none;
                    .fav{
                        .fav-icon{
                            width: 24px;
                            display: flex;
                            justify-content: center;
                            font-size: 18px;
                            color: #FFF;
                            line-height: 58px;
                        }
                    }
                    .loop{
                        .loop-icon{
                            width: 24px;
                            display: flex;
                            justify-content: center;
                            font-size: 18px;
                            color: #FFF;
                            line-height: 58px;
                        }
                    }
                    .volume{
                        position: relative;
                        .volume-control{
                            width: 280px;
                            height: 50px;
                            background: #FFF;
                            position: absolute;
                            left: 50%;
                            top: -55px;
                            margin-left: -140px;
                            box-shadow: 0px 0px 8px rgba(0,0,0,.3);
                            padding: 0px 18px 0px 0px;
                            display: flex;
                            align-items: center;
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(30px);
                            transition: all 250ms ease;
                            &:before{
                                content: '';
                                width: 0px;
                                height: 0px;
                                display: block;
                                border: solid 10px transparent;
                                border-top: solid 10px #FFF;
                                position: absolute;
                                left: 50%;
                                bottom: -18px;
                                margin-left: -10px;
                            }
                            .icon{
                                width: 55px;
                                height: 100%;
                                align-items: center;
                                justify-content: center;
                                color: #333;
                                display: flex;
                            }
                            .vol-track-wrap{
                                flex: 1;
                                height: 16px;
                                align-items: center;
                                position: relative;
                                .vol-track{
                                    width: 100%;
                                    height: 2px;
                                    background: #E5E5E5;
                                    margin-top: 7px;
                                }
                                .vol-thumb{
                                    position: absolute;
                                    left: 0px;
                                    width: 0%;
                                    height: 2px;
                                    top: 7px;
                                    background: #F95749;
                                    z-index: 7;
                                    pointer-events: none;
                                }
                                .vol-dot{
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 50%;
                                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    background: #FFF;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    z-index: 10;
                                    margin-left: -8px;
                                    i{
                                        width: 4px;
                                        height: 4px;
                                        display: block;
                                        background: #F75547;
                                        border-radius: 50%;

                                    }
                                }
                            }
                        }
                        .volume-control-active{
                            visibility: visible;
                            opacity: 1;
                            transform: translateY(0px);
                        }
                        .volume-icon{
                            width: 24px;
                            display: flex;
                            justify-content: center;
                            font-size: 19px;
                            color: #FFF;
                            line-height: 58px;
                        }
                    }
                    .list{
                        display: flex;
                        align-items: center;
                        .list-icon{
                            width: 21px;
                            display: flex;
                            justify-content: center;
                            font-size: 14px;
                            color: #FFF;
                        }
                        .num{
                            display: block;
                            padding: 0px 6px;
                            background: #FFF;
                            color: #F75547;
                            height: 14px;
                            line-height: 14px;
                            border-radius: 7px;
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}

.search-page{
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 35px;
    .scroll-box{
        height: 100%;
        padding: 20px 30px;
        overflow: hidden;
    }
    .search-loading{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-box{
        width: 100%;
        height: 48px;
        position: relative;
        box-shadow: 1px 1px 8px rgba(0,0,0,.12), -1px 1px 8px rgba(0,0,0,.12);
        background: rgba(255,255,255,.65);
        input{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 10px 12px;
            font-size: 16px;
            padding-right: 48px;
            background: none;
            &::-webkit-input-placeholder{
                color: #E3E2E4;
            }
        }
        .search-btn{
            display: flex;
            width: 48px;
            height: 46px;
            position: absolute;
            right: 0px;
            top: 0px;
            align-items: center;
            justify-content: center;
            font-size: 26px;
            color: #E3E2E4;
        }
    }
    .result-area{
        width: 100%;
        height: calc(100% - 45px);
        margin-top: 14px;
        .react-tabs{
            width: 100%;
            height: 100%;
            .react-tabs__tab-list{
                width: 100%;
                height: 46px;
                overflow: hidden;
                outline: none;
                cursor: default;
                .react-tabs__tab{
                    float: left;
                    height: 45px;
                    line-height: 48px;
                    margin-right: 23px;
                    font-size: 16px;
                    outline: none;
                }
                .react-tabs__tab--selected{
                    color: #F95949;
                    position: relative;
                    outline: none;
                    &::before{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #F95949;
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                    }
                }
            }
        }
        .react-tabs__tab-panel {
            height: calc(100% - 46px - 16px);
            margin-top: 16px;
        }
        .songs-item{
            position: relative;
            width: 100%;
            height: 100%;
            overflow-y: auto; 
            .list-wrap{
                height: auto;
                padding-bottom: 62px;
            }
            .more-menu{
                width: 275px;
                border: solid 1px #E9E9EB;
                position: absolute;
                left: calc(35% + 40px);
                top: 30px;
                background: #FFF;
                z-index: 9;
                .item{
                    padding: 8px 0px;
                }
                button{
                    cursor: default;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    background: #FFF;
                    text-align: left;
                    color: #666;
                    border: none;
                    outline: none;
                    padding-left: 12px;
                    font-size: 13px;
                }
                .line{
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #E9E9EB;
                }
            }
            li{
                width: 100%;
                height: 48px;
                background: none;
                overflow: hidden;
                .coum{
                    height: 48px;
                    line-height: 48px;
                    float: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: default;
                }
                .coum-1{
                    width: 35%;
                    padding: 0px 16px;
                    display: flex;
                    .playing{
                        color: #F95749;
                        font-size: 16px;
                        margin-right: 8px;
                    }
                    .mv{
                        color: #F95749;
                        font-size: 24px;
                        margin-left: 5px;
                    }
                }
                .coum-2{
                    width: 90px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    .c-w{
                        display: none;
                    }
                    .play{
                        font-size: 27px;
                        color: #666;
                    }
                    .more{
                        font-size: 27px;
                        color: #666;
                    }
                    .download-flag{
                        font-size: 16px;
                        color: #8DD4F1;
                    }
                }
                .coum-3{
                    width: 20%;
                    padding: 0px 12px;
                    font-size: 12px;
                }
                .coum-4{
                    width: 23%;
                    padding: 0px 15px;
                    color: #999;
                    font-size: 12px;
                }
                .coum-5{
                    width: 70px;
                    padding: 0px 12px;
                    color: #999;
                    font-size: 12px;
                }
                .coum-6{
                    width: 45px;
                    padding-right: 6px;
                    text-align: right;
                    color: #FC6E40;
                    span{
                        font-size: 20px;
                    }
                }
            }
            .select{
                background: rgba(243, 246, 245, 0.8);
                .coum-2{
                    width: 90px;
                    display: flex;
                    justify-content: space-between;
                    .c-w{
                        display: block;
                    }
                    .play{
                        font-size: 27px;
                        color: #666;
                    }
                    .more{
                        font-size: 27px;
                        color: #666;
                    }
                    .download-flag{
                        font-size: 16px;
                        color: #8DD4F1;
                        display: none;
                    }
                }
            }
        }
    }
}